.w1200{width: 1200px;margin:0 auto;}
.t_ban li{float: left;font-size: 24px;color: #cac8c8;font-family: "ËÎÌå";padding:0 24px 0 24px;}
.t_ban li span{font-size: 34px;color: #020202;line-height: 70px;font-weight: bold;}
.banner{float: left;}

.r_img{ width:736px; height:304px; padding:0px; float:left;overflow:hidden}
.section-focus-pic{margin:0px auto 0 auto;height:304px;width:736px;overflow:hidden;position:relative;}
.section-focus-pic ul li{position:absolute;top:0;left:736px;width:736px;height:304px;}
.section-focus-pic ul li h3{position:absolute;bottom:8px;height:24px; line-height:24px; overflow:hidden;left:0;text-align:center;width:736px;padding:0 20px;font-weight:normal;color:#FFF;z-index: 111;font-size: 16px; font-family:"Î¢ÈíÑÅºÚ";}
.section-focus-pic ul li div{position:absolute;bottom:0;left:0;height:40px;background-color:#000;width:736px;opacity: 0.6;filter: alpha(opacity=60);}
.section-focus-pic .pages{width:736px;height:300px;}
.section-focus-pic .controler{position:absolute;bottom:10px;right:0px; text-align:center; width:736px;}
.section-focus-pic .controler b{cursor:pointer;width:14px;height:28px;display: inline-block;overflow:hidden;text-indent:200px;border:0px solid #850000; margin:0 0px;}
.section-focus-pic .controler b.down{border:0px solid #ecca81;}

.section-focus-pic .controler2{ width:420px; height:38px;}
.section-focus-pic .controler2 a{display:block; width:27px;position:absolute;top:121px;height:38px;}
.section-focus-pic .controler2 a i{cursor:pointer;display:block;width:27px;height:38px; background:url(imgs/star.png) no-repeat;}
.section-focus-pic .controler2 .prev{left:20px;}
.section-focus-pic .controler2 .prev i{background-position:0px -38px;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_05.png');}
.section-focus-pic .controler2 .prev:hover i{background-position:0px 0px;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_03.png');}
.section-focus-pic .controler2 .next{right:20px;}
.section-focus-pic .controler2 .next i{background-position:-27px -38px;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_06.png');}
.section-focus-pic .controler2 .next:hover i{background-position:-27px 0px;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_04.png');}
.dt_text{ width:494px; height:190px; padding:59px 0 0 42px;  float:left;margin-top:260px; font-size:16px; color:#fff; line-height:23px;overflow:hidden}


.my_psg{width: 454px;height: 304px;overflow: hidden;float: right;}
.my_psg .m_tab li{float:left;background: #dfdddd;font-size: 14px;cursor:pointer;font-family: "ËÎÌå";line-height: 26px;padding:0 10px 0 10px;font-weight: bold;}
.my_psg .tab_cont li span{float: right;margin-top:10px;margin-right:10px;}
.my_psg .tab_cont li span a{font-size: 12px;color: #225895;}
.my_psg .m_tab .current{background: #225895;color: #fff}
.my_psg .m_tab li:hover{background: #225895;color: #fff}
.my_psg table{width: 100%}
.my_psg table th{line-height:44px;text-align: center;}
.my_psg table td{line-height: 36px;font-size: 14px;color:#333;text-align: center;}
.my_psg table th,.my_psg table td{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;padding:0 4px 0 4px;}
.tab_cont{height:276px;border: solid 1px #333;overflow: hidden;}



.rsmzsk{margin-top:20px;}
.w1200 h1{display: table;margin:0 auto;font-family: "ËÎÌå";font-size: 30px;color: #020202;font-weight: bold;line-height: 68px;}
.rsmbk span,.zxzt span,.w1200 .expert-box>span,.act>span,.ydwt>span,.rsmzsk>span{width: 30px;height: 5px;background: #db4248;margin:0 auto;display: block;}
.tabTitle{border-bottom:2px solid #5f9ddd; position:relative; height:37px; z-index:1; margin-left:10px;}
.tabTitle div{position:relative; top:-4px; padding:0 10px; height:41px; line-height:45px; overflow:hidden; font-size:15px; color:#171717; z-index:2; float:left;}
.tabTitle div a{color:#171717; position:relative; z-index:3; text-decoration:none;}
.tabTitle div p{position:absolute; left:0; right:0; top:0; background:#2061b0; height:0; z-index:2}
.tabTitle div:hover a{color:#fff;}
.tabTitle div:hover p{height:41px;}
.tabTitle .current label{color:#fff;position:relative;z-index: 3;}
.tabTitle .current a{color:#fff;}
.tabTitle .current p{height:41px;}
.ydwt{width: 100%;height: 410px;background: #eee;margin-top:30px;}
.wt_tw{float: left;margin-top:36px;margin-left: 32px}
.wt_tw .tp{width: 260px;height: 208px;overflow: hidden;border-radius: 4px;}
.wt_tw p{width:260px;font-weight:bold;font-size: 24px;color:#000;font-family: "ËÎÌå";text-align: center;line-height: 60px}
.act{height: 440px;margin-top:20px;}
.act .act_left>ul,.act .act_right>ul{width:544px;height:100px;overflow:hidden;border-bottom:solid 1px #eee;padding-top:10px;}
.act_left{width:540px;float: left;margin-left:36px;margin-top:20px;}
.act_right{width:540px;float: right;margin-right:36px;margin-top:20px;}
.act_img{width: 80px;height: 80px;overflow: hidden;float: left;}
.act .cont_h{width: 380px;height: 40px;overflow: hidden;float: right;font-size: 13px;color:#5a5a5a;line-height: 22px;margin-top:8px;}
.act .cont_h span a{color: #db4248}
.act_msg{width:380px;float: right;}
.act_msg>div{float: left;line-height: 18px;font-size: 12px;color:#5a5a5a;margin-top:16px;}
.act_msg .act_tx{width: 18px;height: 18px;border-radius: 9px;overflow: hidden;margin-right: 4px}
.act_msg .name{margin-right: 12px;width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.act_msg .zfpldz{height:;float: right;margin-top:16px;font-size: 12px;color:#5a5a5a;line-height: 18px;}
.act_msg .zfpldz li{height: 18px;overflow: hidden;border-right: solid 1px #e1e1e1;float: left;padding:0 10px 0 10px;}
.act_msg .zfpldz .zf{background: url(../images/act_icon_07.jpg) 10px center no-repeat;text-indent: 18px;}
.act_msg .zfpldz .pl{background: url(../images/act_icon_09.jpg) 10px center no-repeat;text-indent: 18px;}
.act_msg .zfpldz .dz{background: url(../images/act_icon_11.jpg) 10px center no-repeat;text-indent: 18px;}
.w1200 .expert-box{display: table;margin:0 auto;}
.w1200 .expert-slide{margin-top:16px;}
.zxzt{padding-top:30px;display: table;margin:0 auto;}
.zxzt ul{margin-top:20px;}
.zxzt .zxzt_img{width: 320px;height: 230px;overflow: hidden;border-radius: 8px}
.zxzt li{float: left;margin:0 32px 0 32px;}
.zxzt{font-size: 24px;font-weight:bold;color:#020202;text-align: center;line-height: 58px;font-family: "ËÎÌå"}
.rsmbk{width: 100%;height: 494px;background: #eee;margin-top:20px}
.rsmbk li{width: 230px;background: #fff;float: left;margin:40px 34px 0 34px;}
.rsmbk .rsmbk_img{width: 230px;height: 220px;overflow:hidden;}
.rsmbk h2{font-family: "Î¢ÈíÑÅºÚ";font-size: 16px;color:#020202;font-weight: bold;line-height: 30px;text-indent: 10px}
.rsmbk p{height:54px;overflow:hidden;font-family: "Î¢ÈíÑÅºÚ";font-size: 12px;color:#9a9a9a;line-height: 20px;padding:0 10px 10px 10px;}







.zjjs .zj_tx{width: 180px;height: 180px;overflow: hidden;border-radius: 5px;margin-left: 5px;}
.zjjs .zj_l{width: 180px;margin-top:20px;float: left;}
.zjjs .zj_l ul{display:table;margin:20px auto 0 auto;}
.zjjs .zj_l ul li{text-align: center;float: left;padding:0 20px 0 20px;border-right: solid 1px #d2d4d5}
.zjjs .zj_r{width: 980px;float: right;margin-top:20px;}
.zjjs .zj_r .zj_btns{float: right;}
.zjjs .zj_r .zj_btns li{float: left;margin-left: 16px;}
.zjjs .zj_r .zj_name{font-size:28px;color:black;font-family: "ËÎÌå";margin-bottom:24px;}
.zjjs .zj_r .gj{line-height: 38px;font-family: "ËÎÌå";font-size:14px;color: #333}
.zjjs .zj_r p{height:63px;overflow:hidden;font-size: 15px;color:#333;text-indent: 36px;border-top:solid 1px #d2d4d5;font-family: "ËÎÌå";line-height: 34px;padding-top:5px;margin-top:5px;}
.tdwb{margin-top:40px;float: left;}
.tdwb .wb_tx{width: 196px;height: 168px;overflow: hidden;margin-top:20px;float: left;}
.tdwb .wb_cont{width:636px;float: right;margin-top:20px;}
.tdwb .wb_cont .wb_name{font-family:"ËÎÌå";font-size:18px;font-weight:bold;float: left;}
.tdwb .wb_cont .wb_btn{width: 96px;height: 30px;background: #27993c;line-height: 30px;text-align:center;font-size:16px;float: right;color:#fff;cursor:pointer;}
.tdwb .wb_cont .wb_ot{font-size: 14px;color:#333;float: left;clear: both;line-height:26px;}
.tdwb .wb_cont p{height:64px;overflow:hidden;clear: both;font-size: 14px;line-height:22px;padding-top:20px;}


.tdwb td{font-size: 12px;line-height:190%;color: #666;font-family: "Î¢ÈíÑÅºÚ", "ºÚÌå";}
.zxzs{margin-top:40px;}
.tdrjt{margin-top:40px;}
.gxqdr{margin-bottom:30px;}
.gxqdr ul{margin-top:20px;}
.gxqdr ul li{;overflow: hidden;float: left;margin-right: 10px;margin-bottom:10px;}
.gxqdr .fwcs{font-size: 14px;margin-top:10px;}
.gxqdr .fwcs span{color:#275f99;}
.expertintro li{float:left;margin-left:5px;}
.expertintro li a{border-right:2px solid #275F99;color:#275F99;}
.expertintro li:last-child a{border-right:none;color:#275F99;}
.dl1{background: url(../images/7c4105606c74b130e056d0108434cef8.jpg) center top no-repeat;}
.header{width:100%;height:86px;background: rgba(27,94,158,0.8);}
.header .w1200 img{margin-top:10px;}
.header ul{float: right;}
.header li{height:82px;float: left;margin:0 24px 0 24px;}
.header li a{height:84px;display:block;font-size: 18px;color:#fff;line-height: 86px;}
.header li a:hover{text-decoration: none;border-bottom: solid 2px #fff}
.header .reg{width: 112px;height: 36px;background: #fff;border:solid 4px #1b5e9e;float: right;text-align: center;line-height: 36px;border-radius:4px;cursor: pointer;margin-top:22px;}
.part{width: 100%;background:#fff;margin-top:30px;}
.part ul{}
.part li{float: left;margin:0 8px 0 8px;}



.bd{position:relative;width: 384px;height: 404px;background: #fff;float: right;margin-top:60px;}
.bd ul li{float: left;width: 192px;cursor:pointer;border-bottom: solid 1px #cacaca;text-align: center;font-size: 18px;line-height: 56px;color: #333}
.bd ul li:hover{border-bottom: solid 2px #355b8c}
.bd .current{border-bottom: solid 2px #355b8c}
.bd form{width: 290px;margin:0 auto;margin-top:38px;}
.bd form input[type="text"]{width: 290px;height: 42px;line-height:42px;border: solid 1px #cacaca;margin-bottom:30px;text-indent: 12px;font-size: 15px;color: #b4b4b4}
.bd form label{font-size:12px;line-height: 18px}
.bd form input[type="checkbox"]{margin-top:-4px;margin-right: 4px}
.bd form input[type="button"]{width: 290px;height: 42px;margin-top:20px;line-height:42px;text-align:center;font-size: 18px;color: #fff;background: #61bb4e;border: none;}


.wz{width:856px;margin-top:10px;height:134px;}
wz{position:relative;}
.cont_h{display:inline-block;width:720px;height:70px;word-wrap: break-word; word-break: normal;margin-top:10px;padding-right:10px;margin-left:20px;overflow:hidden;}
.act_msg{}